BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 200
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

